<div>
	@if(@ViewBag.StatusCode!=null)
{
<h3>
	Exception Details:
</h3>

<div class="alert alert-danger">
	<h5>ErrorMessage</h5>
	<hr />
			<p>@ViewBag.ErrorMessage</p>
</div>

<div class="alert alert-danger">
	<h5>Path</h5>
	<hr />
	<p>@ViewBag.Path</p>
</div>

<div class="alert alert-danger">
	<h5>QS</h5>
	<hr />
	<p>@ViewBag.QS</p>
</div>
<div class="alert alert-danger">
	<h5>StatusCode</h5>
	<hr />
	<p>@ViewBag.StatusCode</p>
</div>

}
else
{
<h3>
	Exception Details:
</h3>

<div class="alert alert-danger">
	<h5>Exception Path</h5>
	<hr />
	<p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert alert-danger">
	<h5>Exception Message</h5>
	<hr />
	<p>@ViewBag.ExceptionMessage</p>
</div>

<div class="alert alert-danger">
	<h5>Exception Stack Trace</h5>
	<hr />
	<p>@ViewBag.StackTrace</p>
</div>
}
</div>
